*,:before,:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,:after {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,:before,:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.aspect-h-1 {
    --tw-aspect-h: 1
}

.aspect-h-9 {
    --tw-aspect-h: 9
}

.aspect-w-1 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 1
}

.aspect-w-1>* {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.aspect-w-16 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 16
}

.aspect-w-16>* {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.pointer-events-none {
    pointer-events: none
}

.pointer-events-auto {
    pointer-events: auto
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.left-0 {
    left: 0
}

.top-0 {
    top: 0
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.z-\[99999\] {
    z-index: 99999
}

.col-span-2 {
    grid-column: span 2 / span 2
}

.col-span-3 {
    grid-column: span 3 / span 3
}

.col-span-6 {
    grid-column: span 6 / span 6
}

.col-span-8 {
    grid-column: span 8 / span 8
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.ml-auto {
    margin-left: auto
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-\[20px\] {
    height: 20px
}

.h-\[25px\] {
    height: 25px
}

.h-\[44px\] {
    height: 44px
}

.h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.h-full {
    height: 100%
}

.h-min {
    height: -moz-min-content;
    height: min-content
}

.h-screen {
    height: 100vh
}

.max-h-\[50vh\] {
    max-height: 50vh
}

.\!w-\[44px\] {
    width: 44px!important
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.w-min {
    width: -moz-min-content;
    width: min-content
}

.w-screen {
    width: 100vw
}

.max-w-7xl {
    max-width: 80rem
}

.flex-shrink-0 {
    flex-shrink: 0
}

.grid-cols-12 {
    grid-template-columns: repeat(12,minmax(0,1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.content-center {
    align-content: center
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-\[10px\] {
    gap: 10px
}

.gap-\[15px\] {
    gap: 15px
}

.gap-\[30px\] {
    gap: 30px
}

.gap-\[5px\] {
    gap: 5px
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.whitespace-nowrap {
    white-space: nowrap
}

.\!bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))!important
}

.bg-black\/10 {
    background-color: #0000001a
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-\[20px\] {
    padding: 20px
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px
}

.py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px
}

.pb-\[30px\] {
    padding-bottom: 30px
}

.pb-\[4px\] {
    padding-bottom: 4px
}

.pt-\[11px\] {
    padding-top: 11px
}

.pt-\[80px\] {
    padding-top: 80px
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-\[7px\] {
    font-size: 7px
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.uppercase {
    text-transform: uppercase
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.line-through {
    text-decoration-line: line-through
}

.\!opacity-0 {
    opacity: 0!important
}

.\!opacity-100 {
    opacity: 1!important
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-50 {
    opacity: .5
}

.\!shadow-none {
    --tw-shadow: 0 0 #0000 !important;
    --tw-shadow-colored: 0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.\!transition-none {
    transition-property: none!important
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.duration-100 {
    transition-duration: .1s
}

.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1)
}

* {
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%
}

.small {
    color: #626262;
    text-transform: uppercase
}

a:hover {
    opacity: 1
}

.outer {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center
}

.outer>* {
    grid-column: 1 / 1;
    grid-row: 1 / 1
}

.no-scrollbars *::-webkit-scrollbar {
    display: none
}

.no-scrollbars * {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.h-mobile {
    height: 100vh;
    height: 100dvh
}

.pulse-bg {
    animation: pulse 2s infinite
}

@keyframes pulse {
    0% {
        background-color: #e6e6e6
    }

    50% {
        background-color: #f2f2f2
    }

    to {
        background-color: #e6e6e6
    }
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.hover\:opacity-0:hover {
    opacity: 0
}

.hover\:opacity-100:hover {
    opacity: 1
}

.hover\:opacity-50:hover {
    opacity: .5
}

:where(.child\:flex)>:where(:not(.not-child)) {
    display: flex
}

:where(.child\:grid)>:where(:not(.not-child)) {
    display: grid
}

:where(.child\:h-full)>:where(:not(.not-child)) {
    height: 100%
}

:where(.child\:\!w-full)>:where(:not(.not-child)) {
    width: 100%!important
}

:where(.child\:flex-col)>:where(:not(.not-child)) {
    flex-direction: column
}

:where(.child\:gap-\[4px\])>:where(:not(.not-child)) {
    gap: 4px
}

:where(:where(.child\:child\:text-right)>:where(:not(.not-child)))>:where(:not(.not-child)) {
    text-align: right
}

:where(.child\:opacity-50)>:where(:not(.not-child)) {
    opacity: .5
}

@media (min-width: 640px) {
    .sm\:fixed {
        position:fixed
    }

    .sm\:block {
        display: block
    }

    .sm\:inline {
        display: inline
    }

    .sm\:flex {
        display: flex
    }

    .sm\:grid {
        display: grid
    }

    .sm\:hidden {
        display: none
    }

    .sm\:h-screen {
        height: 100vh
    }

    .sm\:min-h-\[calc\(100vh-60px\)\] {
        min-height: calc(100vh - 60px)
    }

    .sm\:w-screen {
        width: 100vw
    }

    .sm\:grid-cols-12 {
        grid-template-columns: repeat(12,minmax(0,1fr))
    }

    .sm\:p-\[20px\] {
        padding: 20px
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .sm\:py-\[20px\] {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .sm\:pt-\[30px\] {
        padding-top: 30px
    }

    .sm\:text-left {
        text-align: left
    }

    .sm\:text-right {
        text-align: right
    }
}

@media (min-width: 768px) {
    .md\:col-span-4 {
        grid-column:span 4 / span 4
    }

    .md\:col-span-6 {
        grid-column: span 6 / span 6
    }

    .md\:block {
        display: block
    }

    .md\:inline {
        display: inline
    }

    .md\:h-\[calc\(100vh-60px\)\] {
        height: calc(100vh - 60px)
    }
}

@media (min-width: 1024px) {
    .lg\:h-\[25px\] {
        height:25px
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }
}
